*.class

# Package Files #
*.jar
*.war
*.ear

/mydb
/target
/.settings
*.classpath
.project
/target/
/target/
/bin/

ejb3.1-certification/session-beans/nb-configuration.xml

session-beans-web/nb-configuration.xml
/session-beans/target/
/session-beans-web/target/